.bttn {
  padding: 10px 18px;
  border-radius: 1em;
  background-color: rgb(56, 0, 54);
  font-size: 24px;
  font-weight: bold;
  color: white;

  min-width: 250px;

  border: none;
  outline: none;
}

.bttn-sm {
  min-width: auto;
}

.bttn:hover {
  box-shadow: 0px 0px 14px 3px cyan;
  cursor: pointer;
}
