.bttn {
  padding: 10px;
  border-radius: 15px;
  background-color: #380036;
  font-size: 24px;
  font-weight: bold;
  color: white;

  min-width: 200px;

  border: none;
  outline: none;
}

.bttn:hover {
  box-shadow: 0px 0px 14px 3px cyan;
  cursor: pointer;
}
