.navBar {
    width: 100%;
    padding: 10px;

    border-bottom: black;
    border-width: 3px;
    box-shadow: 0px 6px 12px 4px rgb(0, 0, 0, 0.3)
}

.ttl {

    font-size: 64px;
    font-weight: 100px;
    margin: 0px 0px 30px 50px;

    
}

.tt {
    margin: 1px auto;
    padding: 12px;

    box-shadow: 4px 5px 7px -2px rgba(0, 0, 0, 0.2);
    
    width: 440px;
}

.tt:hover {
    background-color: rgba(41, 52, 63, 0.5);
}

