.spg {
  height: 300px;
  width: 500px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.ctr-h {
  display: flex;
  justify-content: center;
}

.up-main {
  height: 50%;
  align-items: flex-end;
}

.bttm-main {
  height: 50%;
  align-items: flex-start;
  padding-top: 10px;
}
