.content {
  background-color: #f3d4d4;

  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  overflow: hidden;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
