.nav-results {
  background-color: rgb(56, 0, 54);
  flex: 0 0 50px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.l-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.r-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.srch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.nav-results button {
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 0px 15px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
