.search-panel {
  background-color: white;
  border-radius: 1em;
  padding: 0px 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;

  width: min-max(60vh, 400px);

  display: flex;
  justify-content: flex-end;
}

.vline {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px 5px;
}

.search-panel > img {
  height: 18px;
  width: 18px;
  margin: 2px;
}

.search-panel > input {
  font-size: 18px;
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;

  padding: 2px 0px;
}
