::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.tl {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  overflow-y: scroll;
}
